.btn-upload {
    cursor: pointer;
}

.btn-upload:hover {
	background-color: cornflowerblue;
}

.btn-upload:active {
	background-color: mediumaquamarine;
}
label>input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}
.center {
    height: 260px;
    border-radius: 3px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}